body {
    font-family: 'Times New Roman', sans-serif;
}

.max-viewport{
    min-height: 100vh;
}

.text-underline{
    width: 100px;
    border: 1px solid #ffd282;
    margin: 0 auto;
}

.about-image, 
#filler,
#progress {
    background: url(image1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

